.container {
  grid-column: auto / span 6; }

.icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.devicesimg {
  display: grid;
  grid-column: col-start / span 12;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 75px; }
  .devicesimg img {
    width: 120%;
    transform: translateX(-10%); }

.hitler {
  height: 55vh; }

.organisms {
  position: absolute;
  width: 100vw;
  left: 0;
  z-index: -1; }
  .organisms img {
    width: 100%;
    transform: translate(0, 250px); }

@media (max-width: 900px) {
  .container {
    grid-column: auto / span 3;
    display: grid;
    grid-tempalte-coluns: repeat(3, 1fr);
    grid-column-gap: 10px;
    margin-bottom: 35px; } }
