.container {
  grid-column: auto / span 6; }

.icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.devicesimg {
  display: grid;
  grid-column: col-start / span 12;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 75px; }
  .devicesimg img {
    width: 120%;
    transform: translateX(-10%); }

.margins {
  height: 45vh;
  margin-bottom: 400px; }

.organisms {
  position: absolute;
  width: calc(100vw - 12px);
  left: 0;
  z-index: -1; }
  .organisms img {
    width: 100%;
    transform: translate(0, 250px); }

@media (min-width: 900px) {
  .devicesimg2 {
    display: none; } }

@media (max-width: 900px) {
  .container {
    grid-column: auto / span 3;
    display: grid;
    grid-tempalte-coluns: repeat(3, 1fr);
    grid-column-gap: 10px;
    margin-bottom: 35px; }
  .devicesimg {
    display: none;
    overflow: hidden; }
    .devicesimg img {
      width: 100%; }
  .devicesimg2 {
    display: visible;
    display: grid;
    grid-column: col-start / span 12;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 35px; }
    .devicesimg2 img {
      width: 80%;
      transform: translateX(10%); }
  .organisms {
    width: calc(100vw);
    left: 0;
    z-index: -1;
    overflow: hidden;
    height: 300vh; }
    .organisms img {
      width: 300%;
      transform: translate(-600px, 350px); } }
