@import 'app/vars.scss';

.hero {
    /* placeholder */
    height: 100vh;
    background-image: url('./background.svg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.title {
    color: rgba(255, 255, 255, 0.9);
    font-family: GTAmerica-Light;
    font-size: 42px * $scale;
    letter-spacing: -0.97px * $scale;
    text-align: center;
    font-weight: normal;
    margin: 0;
}

.subtitle {
    opacity: 0.4;
    font-family: GTAmerica-Light;
    font-size: 15.6px * $scale;
    color: #FFFFFF;
    letter-spacing: -0.36px * $scale;
    text-align: center;
    line-height: 19px * $scale;
    margin-top: 10px * $scale;
}
