/* global variables */
.herowrap {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 50vw; }

.hero {
  /* placeholder */
  background-image: url("./background.svg");
  background-position: center center;
  background-repeat: no-repeat;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center; }

.title {
  color: rgba(255, 255, 255, 0.9);
  font-family: 'GT America';
  font-weight: lighter;
  font-size: 48.8px;
  letter-spacing: -1.1834px;
  text-align: center;
  margin: 0; }

.subtitle {
  opacity: 0.4;
  font-family: 'GT America';
  font-weight: lighter;
  font-size: 19.032px;
  color: #FFFFFF;
  letter-spacing: -0.4392px;
  text-align: center;
  line-height: 23.18px;
  margin-top: 12.2px;
  padding: 0 15px;
  max-width: 500px; }

.button {
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid #5F2EC3;
  background-color: #401B8F;
  text-align: center;
  font-weight: lighter;
  font-size: 16.47px;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 0.0854px;
  padding: 7px 26px 11px 26px;
  margin: 0 4px;
  transition: 0.17s ease-in all; }

.button:hover {
  opacity: 0.7; }

@media (max-width: 900px) {
  .title {
    font-size: 40px; }
  .subtitle {
    font-size: 17px; }
  .hero {
    width: 100vw;
    height: 100vh;
    background-size: cover; }
  .herowrap {
    height: 100vh; } }

@media (min-width: 900px) {
  .herowrap {
    border: 13px solid #191919;
    display: grid;
    justify-content: center;
    align-items: center;
    height: calc(50vw - 50px); }
  .hero {
    width: calc(100vw - 150px);
    height: calc(50vw - 100px);
    background-size: contain; } }
