/* global variables */
.hero {
  /* placeholder */
  height: 100vh;
  background-image: url("./background.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center; }

.title {
  color: rgba(255, 255, 255, 0.9);
  font-family: 'GT America';
  font-weight: 300;
  font-size: 51.24px;
  letter-spacing: -1.1834px;
  text-align: center;
  margin: 0; }

.subtitle {
  opacity: 0.4;
  font-family: 'GT America';
  font-weight: 300;
  font-size: 19.032px;
  color: #FFFFFF;
  letter-spacing: -0.4392px;
  text-align: center;
  line-height: 23.18px;
  margin-top: 12.2px;
  padding: 0 15px;
  max-width: 500px; }

@media (max-width: 900px) {
  .title {
    font-size: 40px; }
  .subtitle {
    font-size: 17px; } }
