.boxcontainer {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin-right: 9px;
  border-radius: 4px;
  background-color: #151515;
  position: relative;
  transition: all ease 0.38s;
  cursor: pointer; }
  .boxcontainer:after {
    content: '';
    display: block;
    padding-bottom: 100%; }
  .boxcontainer :hover {
    opacity: 0.7; }

.box, :global(.icon-box) {
  overflow: hidden; }

.iconContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%); }

.label {
  width: 100%;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0px;
  transform: translateY(25px);
  font-size: 12px;
  opacity: .5;
  font-style: italic;
  text-align: center;
  letter-spacing: 0.07px; }

@media (max-width: 600px) {
  .box {
    width: 100%; }
  .icon {
    transform: scale(0.65); } }
