.menu li {
  line-height: 45px;
  list-style-type: none; }

.menu :global .activeItem {
  font-weight: bold; }

.menu .title {
  font-size: 10.5pt;
  line-height: 60px;
  text-transform: uppercase;
  color: #444444; }

.menu .item {
  cursor: pointer; }
