.menu {
    li {
        line-height: 45px;
        list-style-type: none;
    }
    :global .activeItem {
        font-weight: bold;
    }

    .title {
        font-size: 10.5pt;
        line-height: 60px;
        text-transform: uppercase;
        color: #444444;
    }

    .item {
        cursor: pointer;
    }
}

