/* global variables */
.menu {
  margin-top: 50vh;
  transform: translateY(-50%); }
  .menu li {
    list-style-type: none; }
  .menu .title {
    /* Intro Copy: */
    font-size: 11px;
    color: rgba(255, 255, 255, 0.3);
    letter-spacing: 0.88px;
    text-transform: uppercase;
    margin-top: 20.625px;
    margin-bottom: 20.625px; }
  .menu .item {
    line-height: 33px;
    font-size: 13.75px;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 0.09625px;
    font-weight: lighter;
    cursor: pointer; }
    .menu .item:global(.activeItem) {
      font-weight: bolder; }
