@import 'app/vars.scss';

$bottom-space: 100px;

.menu {
    // margin-top: 50vh;
    // transform: translateY(-50%);
    margin-top: 50px;

    li {
        list-style-type: none;
    }
    :global(.activeItem) {
        // text-decoration: underline;
    }

    .title {
        /* Intro Copy: */
        font-size: 8px * $scale;
        color: rgba(255, 255, 255, 0.3);
        letter-spacing: 0.84px  * $scale;
        text-transform: uppercase;
        margin-top: 15px  * $scale;
        margin-bottom: 15px  * $scale;
        font-weight: lighter;
    }

    .item {
        line-height: 25px * $scale;
        font-size: 10px * $scale;
        color: rgba(255, 255, 255, 0.8);
        letter-spacing: 0.27px * $scale;
        font-weight: lighter;
        transition: 0.17s ease-in all;
        cursor: pointer;
        &:global(.activeItem) {
            text-decoration: underline;
        }
    }

    .item:hover {
        opacity: 0.7;
    }

    .closeButton {
        display: none;
    }

    .shareButtons {
        display: none;
    }

}

@media (max-width: 900px) {
    .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-bottom: $bottom-space;
        background-color: $background-color;
        margin-top: 0;
        z-index: 1000;
        // closed
        transform: translateX(-100%);
        transition: transform cubic-bezier(.08,.82,.17,1) .5s;
        &:global(.open) {
            transform: translateX(0);
        }

        ul {
            position: absolute;
            bottom: 70px + $bottom-space;
        }

        .title {
            font-size: 8px;
            letter-spacing: 1.6px;
            margin-top: 25px;
            margin-bottom: 6px;
        }

        .item {
            line-height: 32px;
            font-size: 15px;
            font-weight: 400;
            &:global(.activeItem) {
                font-weight: 400;
            }
        }

        .closeButton {
            cursor: pointer;
            display: block;
            position: absolute;
            top: 15px;
            right: 15px;
            width: 16px;
            height: 17px;
            background: url('./assets/close.svg')
        }

        .shareButtons {
            position: absolute;
            display: flex;
            flex-direction: row;
            justify-content: center;
            bottom: 0 + $bottom-space;
            left: 40px;
            height: 70px;
            width: 220px;
            a {
                flex: 1;
            }
        }
    }
}
