@import 'app/vars.scss';

.container {
    background-image: url('./assets/background.png');
    background-color: $background-color;
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    height: 100vh;
    min-height: 700px;
    grid-column: col-start / span 12;
}

.phoneMockup {
    position: absolute;
    top: calc(50% - 250px);
    left: 25%;
    img {
        width: 300px;
    }
}


@media (max-width: 900px) {
    .container {
        grid-column: col-start / span 3;
        background-size: auto 100%;
    }
    .phoneMockup {
        width: 100%;
        left: 0;
        text-align: center;
    }
}
