@import 'app/vars.scss';

.container {
    background-image: url('./assets/background.png');
    background-color: $background-color;
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    height: 120vh;
    
    min-height: 700px;
    grid-column: col-start / span 12;
}

.phoneMockup {
    height: 827px;
    position: absolute;
    top: calc(50% - 290px);
    left: 45%;
    max-width: 100%;
    img {
        max-width: 100%;
        width: 400px;
    }
    :global(.image) {
        position: absolute;
        top: -58px; left: -35px;
        transform: none;
        max-width: none;
        z-index: 999;
    }
    :global(.video-crop) {
        overflow-y: hidden;
        height: 635px;
        background-color: #151515;
        width: 330px;
    }
    :global(.video) {
        position: static;
        transform: none;
        max-width: none;
        width: 327px;
    }
}

.description {
    position: absolute;
    top: calc(50% - 100px);
    left: calc(45% - 470px);
}

@media (min-width: 900px) {
    .description {
        max-width: 350px;
    }
    .container {
        margin: 10vh 0;
    }
}

@media (max-width: 900px) {
    .container {
        grid-column: col-start / span 3;
        background-size: auto 100%;
        margin: 35vh 0 -5vh;
        height: 120vh;
    }
    .phoneMockup {
        width: 100%;
        left: 0;
        top: -230px;
        text-align: center;
        > div {
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .description {
        position: relative;
        width: calc(100% - 40px);
        left: 0;
        text-align: left;
        top: -220px;
        margin-left: 20px;
        padding-top: 30px;
    }
}

@media (max-width: 400px) {
    .phoneMockup {
        top: -300px;
        :global(.image) { transform: scale(.7); }
        :global(.video-crop) { height: 650px; transform: scale(.71); }
    }
}
