/* global variables */
.container {
  background-image: url("./assets/background.png");
  background-color: #0F0F0F;
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  height: 120vh;
  min-height: 700px;
  grid-column: col-start / span 12; }

.phoneMockup {
  position: absolute;
  top: calc(50% - 350px);
  left: 45%; }
  .phoneMockup img {
    max-width: 100%;
    width: 370px; }

.description {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(45% - 470px); }

@media (min-width: 900px) {
  .description {
    max-width: 350px; }
  .container {
    margin: 10vh 0; } }

@media (max-width: 900px) {
  .container {
    grid-column: col-start / span 3;
    background-size: auto 100%;
    margin: 35vh 0 -5vh;
    height: 120vh; }
  .phoneMockup {
    width: 100%;
    left: 0;
    text-align: center; }
  .description {
    position: relative;
    width: calc(100% - 40px);
    left: 0;
    text-align: left;
    top: -220px;
    margin-left: 20px;
    padding-top: 30px; } }
