/* global variables */
.container {
  grid-column: col-start / span 12;
  background-image: url("./assets/background.png");
  background-color: #0d0d0d;
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  height: 800px;
  background-position-y: 85%; }

.icon {
  width: 42px;
  height: 42px;
  background-color: #151515;
  padding: 12px;
  border-radius: 3px;
  opacity: 0.2;
  position: absolute; }

.radarIcon {
  left: 470px;
  top: 350px; }

.funnelIcon {
  left: 290px;
  top: 390px; }

.marketsIcon {
  left: 510px;
  top: 555px; }

@media (max-width: 900px) {
  .container {
    display: none; } }
