@import 'app/vars.scss';

$base: 350px;

.container {
    grid-column: col-start / span 12;
    position: relative;
    margin-top: 50px;
    margin-bottom: 100px;
    z-index: -1;
}

.container img{
    width: 100%;
    blend-mode: lighten;
}
.icon {
    width: 42px;
    height: 42px;
    background-color: #151515;
    padding: 12px;
    border-radius: 3px;
    opacity: 0.2;
    position: absolute;
}

.radarIcon {
    left: 470px;
    top: $base + 0px;
}

.funnelIcon {
    left: 290px;
    top: $base + 40px;
}

.marketsIcon {
    left: 510px;
    top: $base + 205px;
}

@media (max-width: 900px) {
    .container {
        display: none;
        background-image: url('./assets/background.png');
        background-color: $background-color;
        background-blend-mode: lighten;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 85%;
        height: 100vh;
    }
}
