@import 'app/vars.scss';

$background-position: 200px;

.container {
    grid-column: col-start / span 12;
    background-image: url('./assets/background.png');
    background-color: $background-color;
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: 900px - $background-position;
    background-position: $background-position -75px;
    position: relative;
    height: 100vh;
    max-height: 975px;
    min-height: 800px;
    overflow: hidden;
    text-align: center;
}

.watchMockup {
    position: absolute;
    top: 75px;
    left: 0;
    width: 480px;
}

@media (max-width: 900px) {
    .container {
        grid-column: col-start / span 3;
        background-image: none;
        height: auto;
    }
    .watchMockup {
        position: static;
        // because the clock is NOT centered on the image (shadow)
        margin-right: -184px;
    }
}
