@import 'app/vars.scss';

$background-position: 200px;

.container {
/*    background-image: url('./assets/rocket.png');
    background-color: $background-color;
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;*/
    position: relative;
    height: 80vh;
    min-height: 700px;
    grid-column: col-start / span 12;
    padding-bottom: 220px;
    margin-top: 130px;
}

.watchMockup {
    position: absolute;
    top: calc(50% - 350px);
    left: 32%;
    img {
        max-width: 100%;
        width: 500px;
    }
}

.rocket {
    position: absolute;
    z-index: -1;
    width: calc(100% + 180px);
    left: -180px;
    img {
        width: 100%;
        position: relative;
        left: -215px;
    }
}

.description {
    position: absolute;
    top: 470px;
    left: calc(49% + 150px);
}

@media (min-width: 900px) {
    .description {
        max-width: 350px;
    }
    .container {
        margin: 10vh 0;
    }
}

@media (max-width: 900px) {
    .container {
        grid-column: col-start / span 3;
        background-size: auto 100%;
        margin: 40vh 0 20vh;
    }
    .watchMockup {
        max-width: 100%;
        box-sizing: border-box;
        overflow: hidden;
        left: 0%;
        img {
            width: 120%;
            max-width: 150%;
            transform: translateX(8%);
        }
    }
    .rocket {
        width: calc(100% + 180px);
        left: -180px;
        overflow: hidden;
        img {
            width: 300%;
            position: relative;
            left: -100%;
        }
    }
    .description {
        position: relative;
        width: calc(100% - 40px);
        left: 0;
        text-align: left;
        top: -300px;
        margin-left: 20px;
        padding-top: 30px;
    }
}
