/* global variables */
.container {
  /*    background-image: url('./assets/rocket.png');
    background-color: $background-color;
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;*/
  position: relative;
  height: 80vh;
  min-height: 700px;
  grid-column: col-start / span 12;
  padding-bottom: 220px; }

.watchMockup {
  position: absolute;
  top: calc(50% - 350px);
  left: 32%; }
  .watchMockup img {
    max-width: 100%;
    width: 500px; }

.rocket {
  position: absolute;
  z-index: -1;
  width: calc(100% + 180px);
  left: -180px; }
  .rocket img {
    width: 100%;
    position: relative;
    left: -215px; }

.description {
  position: absolute;
  top: 470px;
  left: calc(49% + 150px); }

@media (min-width: 900px) {
  .description {
    max-width: 350px; }
  .container {
    margin: 10vh 0; } }

@media (max-width: 900px) {
  .container {
    grid-column: col-start / span 3;
    background-size: auto 100%;
    margin: 20vh 0; }
  .watchMockup {
    width: 100%;
    left: 0;
    text-align: center; }
  .description {
    position: relative;
    width: calc(100% - 40px);
    left: 0;
    text-align: left;
    top: -100px;
    margin-left: 20px;
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.15); } }
