.container {
    grid-column: col-start / span 12;
}

.title {
    margin-bottom: 22px;
    margin-top: 80px;
}

.iconGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-column-gap: 7px;
    grid-row-gap: 7px;
}

@media (max-width: 900px) {
    .container {
        grid-column: col-start / span 3;
        padding: 0 15px;
    }
    .iconGrid {
    }
}
