.hero {
    /* placeholder */
    height: 100vh;
    min-height: 900px;
    background-image: url('./fake-hero-background.png');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}
